img {
  overflow: hidden;
}

.img-social {
  overflow: hidden;
  width: 20px;
  /* background-color: aqua; */
}

li > a:hover {
  color: orangered;
}

.swiper {
  width: 100%;
  max-width: 1200px;
  padding: 20px 0;
  position: relative;
}

.swiper-wrapper {
  display: flex;
  align-items: center;
}

.swiper-slide {
  background: #fff;
  /* border-radius: 10px; */
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease;
}

.swiper-slide:hover {
  transform: scale(1.05);
}

.swiper-slide img {
  margin: auto;
  max-width: 80%;
  border-radius: 10px;
}

.content {
  padding: 10px 0;
}

.text-gray-700 {
  font-size: 18px;
}

.text-orange-500 {
  font-size: 20px;
}

/* Navigation and Pagination */
.swiper-pagination {
  position: relative;
  bottom: -15px;
  color: orangered;
}

.swiper-button-prev,
.swiper-button-next {
  color: #333;
  font-size: 24px;
  transition: color 0.3s;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: #ff6600;
}
